{% extends 'email/base-email.html.twig' %}

{% block body %}

    <p>Nous vous informons qu’une demande de changement de mot de passe a été enregistrée sur notre site pour les
        comptes associés à l’adresse e-mail {{ user.email }}</p>

    <p>Si vous êtes à l’origine de cette demande et que vous souhaitez toujours remplacer votre mot de passe, il vous
        suffit de cliquer sur le lien ci-dessous, ou de le recopier dans votre navigateur.</p>

    <p>
        <a href="{{ front_url ~ '/reinitialiser-mot-de-passe/' ~ user.resetPasswordToken }}">
            {{ front_url ~ '/reinitialiser-mot-de-passe/' ~ user.resetPasswordToken }}
        </a>
    </p>

    <p>Vous serez alors redirigé vers une page sécurisée d’où vous pourrez définir votre nouveau mot
        de passe.</p>
    <p>Si vous n'êtes pas à l'origine de cette demande, ne tenez pas compte de cet e-mail. Pour information, cette
        demande a été effectuée à partir de l’adresse IP suivante : {{ ip }}.</p>
    <p>_</p>
    <p>Attention :</p>
    <p>Chaque lien est valable
        une heure seulement. Passé ce délai, vous devrez effectuer une nouvelle demande.</p>
    <p>Pour cela, rendez-vous sur la
        page d’identification de l’espace client :
        <a href="{{ front_url }}/mot-de-passe-oublie">{{ front_url }}/mot-de-passe-oublie</a> et
        cliquez sur le
        lien « Mot de passe oublié ».
    </p>
{% endblock %}
